@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@500&family=Poppins:wght@300;400;500;700&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b2434;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  display: grid;
  grid-template: auto auto / repeat(2, 0.9.5fr);
  /* align-items: center; */
  gap: 2rem 3rem;
}

.count-container,
.timer-container {
  align-self: flex-end;
  background-color: #fff;
  /* margin: 2rem 0rem; */
  border-radius: 0.5rem;
  padding: 0 3rem;
  text-align: center;
}

.count-container .counter,
.timer-container .timer {
  color: #f00;
}

main {
  background-color: #f5f5f5;
  width: 40rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  grid-column: span 2;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  row-gap: 3rem;
  column-gap: 4rem;
}

.dice-face {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 50px;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.dice-dot {
  font-size: 3rem;
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.dice-2,
.dice-3,
.dice-4,
.dice-5,
.dice-6 {
  position: relative;
}

.dice-2 .dot-0,
.dice-3 .dot-0,
.dice-4 .dot-0,
.dice-5 .dot-0,
.dice-6 .dot-0 {
  position: absolute;
  top: 20%;
  left: 20%;
}

.dice-2 .dot-1,
.dice-3 .dot-2,
.dice-4 .dot-3,
.dice-5 .dot-4,
.dice-6 .dot-5 {
  position: absolute;
  top: 60%;
  right: 20%;
}

.dice-3 .dot-1,
.dice-5 .dot-2 {
  position: absolute;
}

.dice-4 .dot-1,
.dice-5 .dot-1,
.dice-6 .dot-1 {
  position: absolute;
  top: 20%;
  right: 20%;
}

.dice-4 .dot-2,
.dice-5 .dot-3,
.dice-6 .dot-4 {
  position: absolute;
  top: 60%;
  left: 20%;
}

.dice-6 .dot-2 {
  position: absolute;
  left: 20%;
}

.dice-6 .dot-3 {
  position: absolute;
  right: 20%;
}

.title {
  margin: 0;
  font-size: 40px;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0 3rem;
}

.roll-dice {
  background-color: #5035ff;
  border: none;
  font-family: "Karla", sans-serif;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 10rem;
  height: 3.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* **Css Meadia Query ***/

/* breakpoint <=576px */

@media (max-width: 576px) {
  .app {
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
    /* align-items: center; */
    gap: 1rem 0.5rem;
  }

  .count-container,
.timer-container {
  text-align: center;
  font-size: 0.5rem;
  padding: 0 0.2rem;
}

.timer-container h1, .count-container h1{
 
}


  main {
    width: 20rem;
    height: 20rem;
  }

  .dice-container {
    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }

  .dice-face {
    height: 20px;
    width: 20px;
  }

  .dice-dot {
    /* font-size: 0; */
    width: 5px;
    height: 5px;
    /* font-size: 1rem; */
  }

  .instructions {
    margin: 0 1rem;
    font-size: 1rem;
  }

  .roll-dice {
    width: 9rem;
    height: 3rem;
    font-size: 1.3rem;
  }
}
